
/*g*/

.buttons_up {
  color:#ffffff;
  border:1px solid #00a0e6;
  background:#00a0e6;
  -webkit-border-radius: 2px;
  text-decoration: none;
  position: relative;
  height: 26px;
  line-height: 24px;
  width: 82px;
  cursor: pointer;
  outline: medium none;
  font-size: 12px;
  border: 0;
  text-align: center;
}
.buttons_up:hover {
  background:#0082be;
  border:1px solid #0082be;
}
.buttons {
  color:#fff;
  background:#00a0e6;
}
.buttons:hover {
  color:#fff;
  background:#0082be;
}
.buttons_no {
  background: #FFFFFF;
  color: #3c3c3c;
  border: 1px solid #adb2bf;
  margin:0 10px; height: 30px;
  line-height: 28px;
  width: 110px;
  cursor: pointer;
  font-size: 12px;
  border: 0
}
.buttons_no:hover {
  color:#3c3c3c;
  background:#f0f0f0;
  border:1px solid #adb2bf;
}
/*g*/

#dialogBody {margin:10px 20px; position:relative; overflow:hidden;}
#imgTextLeft {border:solid 1px #c8ccce; background:#e7e7ec;width:318px; position:absolute;left:0;top:0;height:365px; overflow:hidden;}
#imgTextRight {border:solid 1px #c8ccce; background:#e7e7ec;margin-left:328px; position:relative;height:365px;overflow:hidden;}
.bottonFooter {padding:20px 0; text-align:center;}
.bottonFooter  .buttons { margin:0 10px; margin:0 10px; height: 30px;
  line-height: 28px;
  width: 110px;
  cursor: pointer;
  font-size: 12px;
  border: 0}
#leftScroll { overflow:auto;height:348px; position:relative; margin-top:10px;}
#imgTextList {margin:0px 10px 10px 10px; padding-top:2px;}
#imgTextList .list {background:#fff;border:solid 1px #c8cccc; position:relative;padding:10px;width:278px; border-top:none;}
#imgTextList .list.selected {outline:solid 2px #00a0e6; z-index:99999;}
#imgTextList .list .title {display:inline-block;width:206px;position:absolute;left:0;top:0; z-index:1;padding:10px;}
#imgTextList .list .litpic {width:50px;height:50px;overflow:hidden;background:#eeeef2; margin-left:216px; z-index:1;}
#imgTextList .list .func {background:#000; position:absolute; z-index:3;width:298px;opacity:0.7;height:70px;top:0;left:0; display:none; z-index:3;}
#imgTextList .list.cover { border-top:solid 1px #c8cccc}
#imgTextList .list.cover.hide .head { display:none;}
#imgTextList .list.cover.hide .describe { display:none;}
#imgTextList .list.cover .title { font-size:14px; line-height:26px;color:#333;display:block; position:relative;padding:0;}
#imgTextList .list.cover .date {padding-bottom:10px;}
#imgTextList .list.cover .litpic {height:150px;background:#eeeef2;width:278px; position:relative; overflow:hidden; margin-left:0;}
#imgTextList .list.cover .func {background:#000; position:absolute; z-index:3;width:100%;opacity:0.6;height:150px;top:0;left:0; display:none;}
#imgTextList .list.cover .litpic img {width:100%; z-index:1; position:relative;}
#imgTextList .list.cover .litpic .stitle { background:#000; position:absolute; z-index:2;width:100%;opacity:0.6;color:#fff;padding:5px;left:0; bottom:0; display:none;}
#imgTextList .list.cover.hide .litpic .stitle {display:block;}
#imgTextList .list.cover .describe {padding:10px 0;}
.func span { position:absolute;width:38px;height:38px;border:solid 2px #eee;border-radius:20px;cursor:pointer;}
.func span.edit { background:#222 url(../img/res/edit.png) no-repeat center center;}
.func span.del { background:#222 url(../img/res/del.png) no-repeat center center;}
.func span.edit.black { background:#000 url(../img/res/edit.png) no-repeat center center;}
.func span.del.black { background:#000 url(../img/res/del.png) no-repeat center center;}
#imgTextList .list .func span.edit {top:12px;left:84px;}
#imgTextList .list.cover .func span.edit {top:46px;left:112px;}
#imgTextList .list .func span.del {top:12px;right:84px;}
#addBtn {height:48px; cursor:pointer; border:dashed 1px #c8ccce; background:#f3f3f6 url(../img/res/add.png) no-repeat center center;margin: 0 0px 0 11px;width: 296px;}
#editContent {padding:10px;}
#editShowTable td{padding:5px 0;}
/*2014-11-27 jxj å­å›¾æ–‡å›¾ç‰‡å®½åº¦*/
.width50>img{ width: 50px!important;}


/*  添加数据页面 */

.btn-primary {
  color: #fff;
  background: #00a0e6;
  border-color: #00a0e6;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
#uploadForm .file-upload {
 /*   position: absolute;  */
  left: 0;
  top: 0;
  /*  opacity: 0; */
  cursor: pointer;
  width: 74px;
}
.form-group {
  margin-bottom: 25px;
}

.mobile_btn {
  margin-top: 5px;
  width: 200px;

  /* remove by yingbo at 15-0708 11:00 */
  /* margin-left: 16px; */

  /* add by yingbo at 15-0708 11:00 */
  text-align: center;
}

/*  添加数据页面 */
