<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>首页 - 微商城</title>
    <meta name="description" content="首页,微商城,h5plus" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/ico" href="http://3gimg.qq.com/web/webapp_webmarket/android/images/favicon.ico" />
	<script type="text/javascript">
    // $$r.path = 'http://172.20.2.10:8060/index.php?s=template&php_token=beijing_test&client_id=beijing_test&method='
    var $$r = { rootUrl : '<%= data['res'] %>' }
    $$r.origin = window.location.origin
    $$r.test = 'http://test.h5plus.net'
    $$r.online = 'http://h5plus.net'
    $$r.isServ = /http:\/\/(|test.)h5plus.net/.test($$r.origin)
    $$r.localStamp = $$r.isServ?'&t='+(+new Date):''
    $$r.hosts = $$r.isServ?$$r.origin+'/pc':$$r.origin
    $$r.path = $$r.hosts + '/auth-template/api/?method='
	</script>