body,ul{
	margin:0;
    font-family:'微软雅黑';
}
a{
	text-decoration: none;
}

img{
	border:none;
}

ul,p{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}


/*推文图片*/

.clearRadio{
     *zoom:1;
}
.clearRadio:after{
     display:table;
     clear:both;
     content:" ";
}


#radioModal .screen{
	display:none;
}

.fans>.controls{
	padding:16px 0px;
}
.fans .screenBtn{
	margin-left:15px;
}

.pushContent>.controls{
	padding:16px 0px;
}

.screenFans .gender{
	float:left;
}
.screenFans .gender input{
	vertical-align:text-bottom;margin-bottom:2px;
	margin-left:15px;
}
.screenFans .control-group-radio{
	margin-bottom:15px;
}
.screenFans .region select{
	width:110px;
	margin:0px;
}
.myRadioModalLabel{
	font-size:16px;
}


/*分类选择开始*/
.indexClassContent{
	height:150px;
	position:relative;
	padding-top:21.25px;
	background:#fff;
}
.indexClassFather{
	width:385px;
	height:135px;
	margin:0px auto;
	overflow:hidden;
	position:relative;
}
.indexClass img{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	z-index:2
}
.indexClass img:nth-child(1){
	z-index:4;
}
.indexClass>li.active img:nth-child(1){
	z-index:1;
}
.indexClass{
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
}
.indexClass li{
	float:left;
	margin-left:63.75px;
	text-align:center;
	width:85px;
	font-size:24.4375px;
	color:#828183;
	
}
.indexClass li span{
	margin-top:18.0625px;
    display: inline-block;
}

.indexClass li>div{
	position:relative;
	width:85px;
	height:85px;
}
.indexClass li>div>div{
	width:100%;
	height:85px;
	z-index:3;
	position:absolute;
	left:0px;
	top:0px;
	background:rgba(0,0,0,0.3);
}
.indexClass li:nth-child(1){
	margin-left:0rem;
}
.indexClassContent{
	width:100%;
	position:relative;
}
.indexClassLeft{
	background:url('../images/indexClassLeft.png') no-repeat;
	width:20.1875px;
	height:34px;
	background-size:cover;
	display:inline-block;
	position:absolute;
	top:69.0625px;
	left:21.25px;
}
.indexClassRight{
	background:url('../images/indexClassRight.png') no-repeat;
	width:20.1875px;
	height:34px;
	background-size:cover;
	display:inline-block;
	position:absolute;
	top:65.90625px;
	right:21.25px;
}