<% include ../../m/head.html %>
<link rel="stylesheet" href="<%= data['css'] %>/<%= data['cat1'] %>/<%= data['cat2'] %>/<%= data['cat2'] %>.css<%= data['v'] %>">
<meta name="description" content="下单,微商城,h5plus" />
<title>下单 - 微商城</title>
<script type="text/javascript">
    $$r.routers = {
        "data": {
            "link": {
                "getFoot" : $$r.path + 'ruixue.hfive.weidian.order.get',
                "getAddress" : $$r.path + 'ruixue.hfive.weidian.address.get',
            	"orderPay" : $$r.path + 'ruixue.hfive.weidian.order.pay'
            },
            "add": './details?action=add',
            "edit": './details?action=edit'
        }
    };
</script>
</head>
<body class="order-foot">

<div class="cont-all" id="j_p">
    <p class="loading"></p>
</div>

<% include ../../m/js.html %>
<script type="text/javascript" src="<%= data['js'] %>/<%= data['cat1'] %>/<%= data['cat2'] %>/orderFoot.js<%= data['v'] %>" id="j_js"></script>
</body>
</html>