<% include ../../_g/header.html %>
<title>微应用-我的页面</title>
<link rel="stylesheet" href="<%= data['css'] %>/<%= data['cat1'] %>/<%= data['cat1'] %>.css<%= data['v'] %>">
<!-- <link rel="stylesheet" href="<%= data['comlibjs'] %>/third/easyui/easyui.css<%= data['v'] %>"> -->
<script type="text/javascript">
    $$r.path = '/auth-portal/api/?method='
    $$r.routers = {
        "data": {
            "link": {
                'list': $$r.path + 'ruixue.hfive.core.tag.fans.filter',
                'getDetail': $$r.path + 'ruixue.hfive.core.tag.fans.detail',
                'delTable': $$r.path + 'ruixue.hfive.core.tag.microapp.mypage.table.delete',
                'getTree':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.tree',
                'getTable':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.table',
                'getItem':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.table.edit',
                'editItem':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.table.edit',
                'addItem':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.table.add',
                'editTreeItem':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.tree.edit',
                'removeTreeItem':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.tree.remove',
                'addTreeItem':$$r.path + 'ruixue.hfive.core.tag.microapp.mypage.tree.add'
            },
            "details": './detail'
        }
    };
</script>
</head>
<body class="<%= data['cat2'] %> browser">

<div class="cont-all1" id="j_p">
    <p class="loading"></p>
</div>

<script type="text/javascript" src="<%= data['js'] %>/<%= data['cat1'] %>/<%= data['cat2'] %>/<%= data['cat3'] %>.js<%= data['v'] %>" id="j_js"></script>
    </body>
</html>