<!DOCTYPE html>
<html>
<head>
<% include ../../_g/head.html %>
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="<%= data['css'] %>/<%= data['cat1'] %>/<%= data['cat2'] %>/<%= data['cat2'] %>.css<%= data['v'] %>">
<title>首页 - 活动管理-签名</title>
<script type="text/javascript">
   $$r.testServer = 'http://www.h5plus.net/auth-template/api/?method='
    $$r.path = $$r.testServer
    $$r.routers = {
        "data": {
            "link": {
               "chestList" : $$r.path + 'ruixue.hfive.activity.signin.player.gift.list',
               "signAdd" : $$r.path + 'ruixue.hfive.activity.signin.player.add',
               "player_info" : $$r.path + 'ruixue.hfive.activity.signin.player.info.get',
               "activeList" : $$r.path + 'ruixue.hfive.activity.activity.list',
               "cardinfoGet" : $$r.path + 'ruixue.jrd.llllsg.user.cardinfo.get',
               'weixin' : $$r.path + 'ruixue.external.weixin.userdetailinfo.get'
            },
        	"editUrl": './detail'
        },
        "get":'./get',
        "h5sdk":{
            "pid" : "55cbf3a3986a9b483376f279",
            "account" : "gh_ce89dcb24ea1"
        },
        "login" : {
          uid : 32,
          activity_id:7
        }
    };
</script>
</head>
<body class="<%= data['cat2'] %>">
  
<div class="cont-all" id="j_p">
    <p class="loading"></p>
</div>

<% include ../../_g/script.html %>
<script type="text/javascript" src="<%= data['js'] %>/<%= data['cat1'] %>/<%= data['cat2'] %>/<%= data['cat3'] %>.js<%= data['v'] %>" id="j_js"></script>
<script type="text/javascript">
window.onload=window.onresize=function(){
 document.documentElement.style.fontSize=document.documentElement.clientWidth/16+'px';
};
</script>
</body>
</html>