body,ul{
	margin:0;
    font-family:'微软雅黑'
}
a{
	text-decoration: none;
}

img{
	border:none;
}

ul,p{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

.loginAlert{
    -webkit-transition:.4s all ease;
    transition:.4s all ease;
    -moz-transition:.4s all ease;
    -ms-transition:.4s all ease;
    width:400px; height:300px; /*background:#399;*/ position:fixed; top:50%;left:50%; margin-top:-150px;margin-left:-200px;
    -webkit-transform:scale(5);
    -moz-transform:scale(5);
    transform:scale(5);
    opacity:0;
    z-index:-1; 
}
.indexTab{
    position:fixed;
    text-align:center;
    height:91px;
    right:30px;
    top:50%;
    margin-top:-46px;
    z-index:99999;
}
.indexTab li:nth-child(1){
    margin-top:0px;
}
.indexTab li{
    margin-top:16px;
    cursor:pointer;
}
.mask{
    position:absolute;
    background:url('../../../h5plus/img/portalAnim/loading/login_layerBg.png') no-repeat;background-size:cover;opacity:0.8;
    top:0px;
    left:0px;
    right: 0;
    bottom: 0;
    display:none;
    -webkit-transition:.4s all ease;-ms-transition:.4s all ease;transition:.4s all ease;-moz-transition:.4s all ease;
    z-index: 99999;
}
.navigation button{
	position:absolute;
    width:0.55rem;
    height:0.266rem;
    font-size:12px;
    white-space: nowrap;
    line-height:0.133rem;
    text-align:center;
    top:0.141rem;
    padding: 0;
}
.navigation .register{
    right:0.5rem;
    color:#000;
}
.navigation .login{
    right:1.133rem;
}

.navigation{
    width: 100%;
    height: 0.55rem;
    position: fixed;
    background:rgba(255,255,255,0.3);
    top: 0px;
    left: 0px;
    z-index:22;
}
.navigation .logo{
    width:1.375rem;
    position:absolute;
    left:0.575rem;
    top:0.0833rem;
}
#loading{background:url(../../../h5plus/img/portalAnim/loading/bj.png) no-repeat;width:100%;height:100%;background-size:cover;position:relative;}
        #loadingMain{
            width: 150px;
            height: 170px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -85px 0 0 -75px;
        }
        #loadingMain .img1 {
            width: 120px;
            height: 100px;
            background: url(../../../h5plus/img/portalAnim/loading/loading3.png) no-repeat;
            left: 15px;
            top: 5px;
            position: absolute;
        }
        #loadingMain .img2 {
            width: 120px;
            height: 100px;
            background: url(../../../h5plus/img/portalAnim/loading/loading4.png) no-repeat;
            left: 15px;
            top: 5px;
            position: absolute;
        }
        #loadingMain .img4 {
            width: 120px;
            height: 100px;
            left: 15px;
            top: 5px;
            position: absolute;
            text-align: center;
            font-size: 20px;
            color: #f58e6e;
            line-height: 100px;
        }
        #loadingMain .shadow {
            width: 100px;
            height: 40px;
            background: url(../../../h5plus/img/portalAnim/loading/loading2.png) no-repeat;
            position: absolute;
            left: 25px;
            top: 110px;
        }

/*第一屏波浪线*/
.main-all{width:100%;height:calc(70.2% - 1.15rem); position:absolute; left:0px; bottom:0px; background:url(../../../h5plus/img/portalAnim/scene1/bobo.png) no-repeat -21000px 22px;transition:all 1s;
    -webkit-transition:all 1s;-ms-transition:all 1s;-moz-transition:all 1s;}
.main-all.active{-webkit-animation: server_main_bg 500s infinite linear;-ms-animation: server_main_bg 500s infinite linear; -webkit-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards; -moz-animation: server_main_bg 60s infinite linear; -moz-animation-fill-mode:forwards; -o-animation: server_main_bg 60s infinite linear; -o-animation-fill-mode:forwards;animation: server_main_bg 60s infinite linear; animation-fill-mode:forwards;}
@-webkit-keyframes server_main_bg   /*Safari 和 Chrome */
{
    0{ background-position:-21000px 22px; }
    100%{ background-position:0px 22px;}
}
@-ms-keyframes server_main_bg   /*Safari 和 Chrome */
{
    0{ background-position:-21000px 22px; }
    100%{ background-position:0px 22px;}
}
@-moz-keyframes server_main_bg   /*Safari 和 Chrome */
{
    0{ background-position:-21000px 22px;}
    100%{ background-position:0px 22px;}
}
@-o-keyframes server_main_bg   /*Safari 和 Chrome */
{
    0{ background-position:-21000px 22px;}
    100%{ background-position:0px 22px;}
}
@keyframes server_main_bg   /*Safari 和 Chrome */
{
    0{ background-position:-21000px 22px;}
    100%{ background-position:0px 22px;}
}

/*第一屏的从小到大弹性的效果*/
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-ms-keyframes bounceIn {
    0% {
        opacity: 0;
        -ms-transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -ms-transform: scale(1.05);
    }
    70% {
        -ms-transform: scale(0.9);
    }
    100% {
        -ms-transform: scale(1);
    }
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-ms-keyframes bounceIn {
    0% {
        opacity: 0;
        -ms-transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -ms-transform: scale(1.05);
    }
    70% {
        -ms-transform: scale(0.9);
    }
    100% {
        -ms-transform: scale(1);
    }
}
@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }
    70% {
        -moz-transform: scale(0.9);
    }
    100% {
        -moz-transform: scale(1);
    }
}

.bounceIn{animation:1s bounceIn ease-in-out;-webkit-animation:1s bounceIn ease-in-out;-ms-animation:1s bounceIn ease-in-out;-moz-animation:1s bounceIn ease-in-out;}

.scene{
    width:100%;
    overflow:hidden;
    position:absolute;
    display:none;
}
.scene.active{
    display:block;
    transition:0.5s all linear;
    -webkit-transition:0.5s all linear;
    -ms-transition:0.5s all linear;
    -moz-transition:0.5s all linear;
}
.scene .scale{
    height:100%;
}
.scene1{
    background:url('../../../h5plus/img/portalAnim/scene1/bj00.png') no-repeat;
    transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
    -moz-transition:1s all ease;
    background-size:cover;
}
.scene1 .nav{
    width:9.016rem;
    position:relative;
    margin:0px auto;
    top:29.8%;
}
.scene1 .nav .title{
    font-size:0.191rem;
    line-height:0.25rem;
    color:#fff;
    text-align:center;
}
.scene1 .nav>li{
    position:absolute;
}
.scene1 .nav>li:nth-child(1){
    width:2.916rem;
    top:0px;
    left:0px;
}
.scene1 .nav>li:nth-child(2){
    width:2.691rem;
    top:0px;
    left:3.691rem; 
}
.scene1 .nav>li:nth-child(3){
    width:1.4rem;
    top:0px;
    left:7.558rem;
}
.scene1 .icon{
    text-align:center;
    width:100%;
    margin-top:0.133rem;
}
.scene1 .dotted{
    width:100%;
}
.scene1 .dotted>img{
    width:0.158rem;
    height:0.408rem;
    display:block;
    margin:0px auto;
}
.scene1 .icon>img{
    width:0.833rem;
    margin:0px auto; 
    border-radius:50%;
    display:block;
    border:0.0416rem solid rgba(255,255,255,0.3);
}

/*第一个半圆形的*/
.scene1 .arc{
    opacity:0;
    position:absolute;
    left:0.508rem;
    top:1.916rem;
    width:1.941rem;
    height:0.85rem;
}
.scene1 .arc img{
    width:100%;
    display:block;
}
.scene1 .arcIcon01{
    position:absolute;
    opacity:0;
    width:1rem;
    height:0.25rem;
    top:2.816rem;
    left:-0.141rem;
}
.scene1 .arcIcon02{
    position:absolute;
    opacity:0;
    width:1rem;
    height:0.25rem;
    top:2.35rem;
    left:0.9rem;
}
.scene1 .arcIcon03{
    position:absolute;
    opacity:0;
    width:1.133rem;
    height:0.25rem;
    top:2.816rem;
    left:1.641rem;
}
.scene1 .arcIcon01 img,.scene1 .arcIcon02 img,.scene1 .arcIcon03 img{
    display:block;
    width:100%;
}
/*第二个两个斜切的*/
.scene1 .slash{
    text-align:center;
    width:1.475rem;
    height:0.85rem;
    left:0.608rem;
    position:absolute;
    opacity:0;
}
.scene1 .slash img,.slashIcon01 img,.slashIcon02 img{
    display:block;
    width:100%;
}
.scene1 .slashIcon01{
    position:absolute;
    opacity:0;
    width:1.125rem;
    height:0.25rem;
    left:0.033rem;
    top:2.816rem;
}
.scene1 .slashIcon02{
    position:absolute;
    opacity:0;
    left:1.55rem;
    top:2.816rem;
}

/*第三个一个竖线的*/
.scene1 .line{
    text-align:center;
    width:0.05rem;
    height:0.783rem;
    opacity:0;
    transform:translate(0.683rem,0px);
    -webkit-transform:translate(0.683rem,0px);
    -moz-transform:translate(0.683rem,0px);
    -ms-transform:translate(0.683rem,0px);
}
.scene1 .line img{
    display:block;
    width:100%;
}
.scene1 .lineIcon01{
    position:absolute;
    opacity:0;
    width:1.4rem;
    height:0.25rem;
    left:-0.083rem;
    top:2.816rem;
}
.scene1 .lineIcon01 img{
    width:100%;
    display:block;
}
.scene1 .a-bounce{animation:1s ease fadeinL;-webkit-animation:1s ease fadeinL;-ms-animation:1s ease fadeinL;-moz-animation:1s ease fadeinL;opacity:1;} 

/*从左边滑动过来*/
@-webkit-keyframes fadeinL{
    0%{opacity:0;-webkit-transform:translateX(-100px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-moz-keyframes fadeinL{
    0%{opacity:0;-moz-transform:translateX(-100px);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-ms-keyframes fadeinL{
    0%{opacity:0;-ms-transform:translateX(-100px);}
    100%{opacity:1;-ms-transform:translateX(0);}
}
@keyframes fadeinL{
    0%{opacity:0;transform:translateX(-100px);}
    100%{opacity:1;transform:translateX(0);}
}

/*云飘来飘去*/
@-webkit-keyframes cloud{
    0%{-webkit-transform:translateX(0px);}
    100%{-webkit-transform:translateX(50px);}
}
@-moz-keyframes cloud{
    0%{-moz-transform:translateX(0px);}
    100%{-moz-transform:translateX(50px);}
}
@-ms-keyframes cloud{
    0%{-ms-transform:translateX(0px);}
    100%{-ms-transform:translateX(50px);}
}
@keyframes cloud{
    0%{transform:translateX(0px);}
    100%{transform:translateX(50px);}
}


/* 淡入-从上 */
@-webkit-keyframes fadeinT{
    0%{opacity:0;-webkit-transform:translateY(-100px);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinT{
    0%{opacity:0;-moz-transform:translateY(-100px);}
    100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadeinT{
    0%{opacity:0;-ms-transform:translateY(-100px);}
    100%{opacity:1;-ms-transform:translateY(0);}
}
@keyframes fadeinT{
    0%{opacity:0;transform:translateY(-100px);}
    100%{opacity:1;transform:translateY(0);}
}

/* 淡入-从下 */
@-webkit-keyframes fadeinB{
    0%{opacity:0;-webkit-transform:translateY(100px);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinB{
    0%{opacity:0;-moz-transform:translateY(100px);}
    100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadeinB{
    0%{opacity:0;-ms-transform:translateY(100px);}
    100%{opacity:1;-ms-transform:translateY(0);}
}
@keyframes fadeinB{
    0%{opacity:0;transform:translateY(100px);}
    100%{opacity:1;transform:translateY(0);}
}

/*左右摇晃*/

@-webkit-keyframes shake{
    0%,100%{-webkit-transform:translateX(0);opacity:1;}
    10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);opacity:1;}
    20%,40%,60%,80%{-webkit-transform:translateX(10px);opacity:1;}
}
@-moz-keyframes shake{
    0%,100%{-moz-transform:translateX(0);opacity:1;}
    10%,30%,50%,70%,90%{-moz-transform:translateX(-10px);opacity:1;}
    20%,40%,60%,80%{-moz-transform:translateX(10px);opacity:1;}
}
@-ms-keyframes shake{
    0%,100%{-ms-transform:translateX(0);opacity:1;}
    10%,30%,50%,70%,90%{-ms-transform:translateX(-10px);opacity:1;}
    20%,40%,60%,80%{-ms-transform:translateX(10px);opacity:1;}
}
@keyframes shake{
    0%,100%{transform:translateX(0);opacity:1;}
    10%,30%,50%,70%,90%{transform:translateX(-10px);opacity:1;}
    20%,40%,60%,80%{transform:translateX(10px);opacity:1;}
}
.scene2 .cloudLeft1{-webkit-animation:cloud 2.6s infinite alternate linear;-moz-animation:cloud 2.6s infinite alternate linear;-ms-animation:cloud 2.6s infinite alternate linear;animation:cloud 2.6s infinite alternate linear;}
.scene2 .cloudLeft2{-webkit-animation:cloud 2.8s infinite alternate linear;-moz-animation:cloud 2.8s infinite alternate linear;-ms-animation:cloud 2.8s infinite alternate linear;animation:cloud 2.8s infinite alternate linear;}
.scene2 .cloudLeft3{-webkit-animation:cloud 3s infinite alternate linear;-moz-animation:cloud 3s infinite alternate linear;-ms-animation:cloud 3s infinite alternate linear;animation:cloud 3s infinite alternate linear;}
.scene2 .cloudRight{-webkit-animation:cloud 2.2s infinite alternate linear;-moz-animation:cloud 2.2s infinite alternate linear;-ms-animation:cloud 2.2s infinite alternate linear;animation:cloud 2.2s infinite alternate linear;}
.scene2 .icon.active{animation:1s ease shake;-webkit-animation:1s ease shake;-moz-animation:1s ease shake;opacity:1}
.scene2  .content.active{animation:1s ease fadeinB;-webkit-animation:1s ease fadeinB;-moz-animation:1s ease fadeinB;opacity:1;}
.scene2{
    background:#fff;
    height:100%;
}
.scene2 .cloudLeft1.active{
    background:url('../../../h5plus/img/portalAnim/scene2/cloud01.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:0.716rem;
    height:0.625rem;
    left:1.483rem;
    top:0.675rem;
}
.scene2 .cloudLeft2.active{
    background:url('../../../h5plus/img/portalAnim/scene2/cloud02.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:0.658rem;
    height:0.466rem;
    left:2.108rem; 
    top:1.816rem;
}
.scene2 .cloudLeft3.active{
    background:url('../../../h5plus/img/portalAnim/scene2/cloud03.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:1.041rem;
    height:0.691rem;
    left:0.966rem; 
    top:2.458rem;
}
.scene2 .cloudRight.active{
    background:url('../../../h5plus/img/portalAnim/scene2/icon02.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:1.583rem;
    height:1.216rem;
    right:0.933rem;
    top:0.583rem;
}
.scene2 .cityBottom{
    background:url('../../../h5plus/img/portalAnim/scene2/icon03.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:100%;
    height:1.333rem;
    bottom:0px;
}
.scene2 .brief{
    width:100%;
    height:auto;
    position:absolute;
    top:19%;
    text-align:center;
}
.scene2 .brief .title{
    background:url('../../../h5plus/img/portalAnim/scene2/icon04.png') no-repeat;
    background-size:cover;
    width:3.425rem;
    height:0.55rem;
    margin:0px auto;
    margin-bottom:0.2rem;
}
.scene2 .brief .content{
    font-size:0.133rem;
    line-height:0.25rem;
    color:#c1a286;
}
.scene2 .icon{
    width:9.916rem;
    position:absolute;
    left:50%;
    margin-left:-4.958rem;
    top:42%;
    opacity:0;
}
.scene2 .icon li{
    width:2.041rem;
    margin-left:0.583rem;
    float:left;    
}
.scene2 .icon li:nth-child(1){
    margin-left:0px;
}
.scene2 .icon img{
    display:block;
    width:100%;
}


/*3*/
/*旋转*/
@-webkit-keyframes rotate{
    0%{ -webkit-transform:rotate(0);opacity:0}
    100%{ -webkit-transform:rotate(360deg);}
}
@-ms-keyframes rotate{
    0%{ -ms-transform:rotate(0);opacity:0}
    100%{ -ms-transform:rotate(360deg);}
}
@keyframes rotate{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg);}
}

@-webkit-keyframes flipinX{
    0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0;}
    40%{-webkit-transform:perspective(400px) rotateX(-10deg);opacity:1;}
    70%{-webkit-transform:perspective(400px) rotateX(10deg);opacity:1;}
    100%{-webkit-transform:perspective(400px) rotateX(0);opacity:1;}
}
@-moz-keyframes flipinX{
    0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0;}
    40%{-moz-transform:perspective(400px) rotateX(-10deg);opacity:1;}
    70%{-moz-transform:perspective(400px) rotateX(10deg);opacity:1;}
    -moz-transform:perspective(400px) rotateX(0);opacity:1;
}
@-ms-keyframes flipinX{
    0%{-ms-transform:perspective(400px) rotateX(90deg);opacity:0;}
    40%{-ms-transform:perspective(400px) rotateX(-10deg);opacity:1;}
    70%{-ms-transform:perspective(400px) rotateX(10deg);opacity:1;}
    100%{-ms-transform:perspective(400px) rotateX(0);opacity:1;}
}
@keyframes flipinX{
    0%{transform:perspective(400px) rotateX(90deg);opacity:0;}
    40%{transform:perspective(400px) rotateX(-10deg);opacity:1;}
    70%{transform:perspective(400px) rotateX(10deg);opacity:1;}
    100%{transform:perspective(400px) rotateX(0);opacity:1;}
}

@-webkit-keyframes seal {
    0% {-webkit-transform: scale(5);opacity: 0;}
    50% {opacity: 0.3;}
    100% {-webkit-transform: scale(1);opacity: 1;}
}
@-moz-keyframes seal {
        0% {-moz-transform: scale(5);opacity: 0;}
    50% {opacity: 0.3;}
    100% {-moz-transform: scale(1);opacity: 1;}
}
@-ms-keyframes seal {
        0% {-ms-transform: scale(5);opacity: 0;}
    50% {opacity: 0.3;}
    100% {-ms-transform: scale(1);opacity: 1;}
}
@keyframes seal {
        0% {transform: scale(5);opacity: 0;}
    50% {opacity: 0.3;}
    100% {transform: scale(1);opacity: 1;}
}

@-webkit-keyframes rotateinLT{
    0%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(-90deg);opacity:0;}
    100%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(0);opacity:1;}
}
@-moz-keyframes rotateinLT{
    0%{-moz-transform-origin:left bottom;-moz-transform:rotate(-90deg);opacity:0;}
    100%{-moz-transform-origin:left bottom;-moz-transform:rotate(0);opacity:1;}
}
@-ms-keyframes rotateinLT{
    0%{-ms-transform-origin:left bottom;-ms-transform:rotate(-90deg);opacity:0;}
    100%{-ms-transform-origin:left bottom;-ms-transform:rotate(0);opacity:1;}
}
@keyframes rotateinLT{
    0%{transform-origin:left bottom;transform:rotate(-90deg);opacity:0;}
    100%{transform-origin:left bottom;transform:rotate(0);opacity:1;}
}

/* 转入-从右上 */
@-webkit-keyframes rotateinRT{
    0%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(90deg);opacity:0;}
    100%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1;}
}
@-moz-keyframes rotateinRT{
    0%{-moz-transform-origin:right bottom;-moz-transform:rotate(90deg);opacity:0;}
    100%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1;}
}
@-ms-keyframes rotateinRT{
    0%{-ms-transform-origin:right bottom;-ms-transform:rotate(90deg);opacity:0;}
    100%{-ms-transform-origin:right bottom;-ms-transform:rotate(0);opacity:1;}
}
@keyframes rotateinRT{
    0%{transform-origin:right bottom;transform:rotate(90deg);opacity:0;}
    100%{transform-origin:right bottom;transform:rotate(0);opacity:1;}
}

@-webkit-keyframes ring{
    0%{-webkit-transform:scale(1);opacity:1;}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);opacity:1;}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);opacity:1;}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);opacity:1;}
    100%{-webkit-transform:scale(1) rotate(0);opacity:1;}
}
@-moz-keyframes ring{
    0%{-moz-transform:scale(1);opacity:1;}
    10%,20%{-moz-transform:scale(0.9) rotate(-3deg);opacity:1;}
    30%,50%,70%,90%{-moz-transform:scale(1.1) rotate(3deg);opacity:1;}
    40%,60%,80%{-moz-transform:scale(1.1) rotate(-3deg);opacity:1;}
    100%{-moz-transform:scale(1) rotate(0);opacity:1;}
}
@-ms-keyframes ring{
    0%{-ms-transform:scale(1);opacity:1;}
    10%,20%{-ms-transform:scale(0.9) rotate(-3deg);opacity:1;}
    30%,50%,70%,90%{-ms-transform:scale(1.1) rotate(3deg);opacity:1;}
    40%,60%,80%{-ms-transform:scale(1.1) rotate(-3deg);opacity:1;}
    100%{-ms-transform:scale(1) rotate(0);opacity:1;}
}
@keyframes ring{
    0%{transform:scale(1);opacity:1;}
    10%,20%{transform:scale(0.9) rotate(-3deg);opacity:1;}
    30%,50%,70%,90%{transform:scale(1.1) rotate(3deg);opacity:1;}
    40%,60%,80%{transform:scale(1.1) rotate(-3deg);opacity:1;}
    100%{transform:scale(1) rotate(0);opacity:1;}
}
.scene3{
    background:url('../../../h5plus/img/portalAnim/scene3/bj00.png') no-repeat;
    background-size:cover;
}
.scene3 .wxgb360{
    background:url('../../../h5plus/img/portalAnim/scene3/icon01.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:2.083rem;
    height:2.083rem;
    margin-left:-1.041rem;
    margin-top:-1.041rem;
    left:50%;
    top:50%;
    opacity:0;
}
.scene3 .round01.active{animation:1s seal linear;-webkit-animation:1s seal linear;-moz-animation:1s seal linear;-ms-animation:1s seal linear;opacity:1}
.scene3 .round02.active{animation:1s rotateinLT linear;-moz-animation:1s rotateinLT linear;-ms-animation:1s rotateinLT linear;-webkit-animation:1s rotateinLT linear;opacity:1}
.scene3 .round03.active{animation:1s rotateinRT linear;-moz-animation:1s rotateinRT linear;-webkit-animation:1s rotateinRT linear;-ms-animation:1s rotateinRT linear;opacity:1}
.scene3 .round02.activeRotate,.scene3 .round03.activeRotate{animation:300s rotate infinite linear;-webkit-animation:300s rotate infinite linear;;-ms-animation:300s rotate infinite linear;-moz-animation:300s rotate infinite linear;opacity:1}
.scene3 .wxgb360.active{animation:1s flipinX linear;-webkit-animation:1s flipinX linear;-ms-animation:1s flipinX linear;-moz-animation:1s flipinX linear;opacity:1}
.scene3 .wxgb360.activeyb{animation:1s ring infinite linear;-webkit-animation:1s ring infinite linear;-ms-animation:1s ring infinite linear;-moz-animation:1s ring infinite linear;opacity:1}
.scene3 .round01{
    background:url('../../../h5plus/img/portalAnim/scene3/icon02.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:3.833rem;
    height:3.833rem;
    margin-left:-1.9165rem;
    margin-top:-1.9165rem;
    left:50%;
    top:50%;
    opacity:0;
}
.scene3 .round02{
    background:url('../../../h5plus/img/portalAnim/scene3/icon03.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:6.666rem;
    height:6.666rem;
    margin-left:-3.15rem;
    margin-top:-3.45rem;
    left:50%;
    top:50%;
    opacity:0;
}
.scene3 .round03{
    background:url('../../../h5plus/img/portalAnim/scene3/icon04.png') no-repeat;
    background-size:cover;
    position:absolute;
    width:11.666rem;
    height:11.666rem;
    margin-left:-5.691rem;
    margin-top:-5.833rem;
    left:50%;
    top:50%;
    opacity:0;
}


@-webkit-keyframes flash{
    0%,50%,100%{opacity:1;}
    25%,75%{opacity:0}
}
@-moz-keyframes flash{
    0%,50%,100%{opacity:1;}
    25%,75%{opacity:0}
}
@-ms-keyframes flash{
    0%,50%,100%{opacity:1;}
    25%,75%{opacity:0}
}
@keyframes flash{
    0%,50%,100%{opacity:1;}
    25%,75%{opacity:0}
}


@-webkit-keyframes wobble{
    0%{-webkit-transform:translateX(0);opacity:1;}
    15%{-webkit-transform:translateX(-100px) rotate(-5deg);opacity:1;}
    30%{-webkit-transform:translateX(80px) rotate(3deg);opacity:1;}
    45%{-webkit-transform:translateX(-65px) rotate(-3deg);opacity:1;}
    60%{-webkit-transform:translateX(40px) rotate(2deg);opacity:1;}
    75%{-webkit-transform:translateX(-20px) rotate(-1deg);opacity:1;}
    100%{-webkit-transform:translateX(0);opacity:1;}
}
@-moz-keyframes wobble{
    0%{-moz-transform:translateX(0);opacity:1;}
    15%{-moz-transform:translateX(-100px) rotate(-5deg);opacity:1;}
    30%{-moz-transform:translateX(80px) rotate(3deg);opacity:1;}
    45%{-moz-transform:translateX(-65px) rotate(-3deg);opacity:1;}
    60%{-moz-transform:translateX(40px) rotate(2deg);opacity:1;}
    75%{-moz-transform:translateX(-20px) rotate(-1deg);opacity:1;}
    100%{-moz-transform:translateX(0);opacity:1;}
}
@-ms-keyframes wobble{
    0%{-ms-transform:translateX(0);opacity:1;}
    15%{-ms-transform:translateX(-100px) rotate(-5deg);opacity:1;}
    30%{-ms-transform:translateX(80px) rotate(3deg);opacity:1;}
    45%{-ms-transform:translateX(-65px) rotate(-3deg);opacity:1;}
    60%{-ms-transform:translateX(40px) rotate(2deg);opacity:1;}
    75%{-ms-transform:translateX(-20px) rotate(-1deg);opacity:1;}
    100%{-ms-transform:translateX(0);opacity:1;}
}
@keyframes wobble{
    0%{transform:translateX(0);opacity:1;}
    15%{transform:translateX(-100px) rotate(-5deg);opacity:1;}
    30%{transform:translateX(80px) rotate(3deg);opacity:1;}
    45%{transform:translateX(-65px) rotate(-3deg);opacity:1;}
    60%{transform:translateX(40px) rotate(2deg);opacity:1;}
    75%{transform:translateX(-20px) rotate(-1deg);opacity:1;}
    100%{transform:translateX(0);opacity:1;}
}
.scene4{
    background:url('../../../h5plus/img/portalAnim/scene4/bj01.png') no-repeat;
    background-size:cover;
}
.scene4 .earth{
    background:url('../../../h5plus/img/portalAnim/scene4/icon01.png') no-repeat;
    background-size:contain;
    width:3.625rem;
    height:3.625rem;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-1.8125rem;
    margin-left:-1.8125rem;
}
.scene4 .earth.active{-webkit-animation:1s wobble ease;
-moz-animation:1s wobble ease;   
-ms-animation:1s wobble ease;   
-o-animation:1s wobble ease;
animation:1s wobble ease;}

.scene4 .line{
    background:url('../../../h5plus/img/portalAnim/scene4/icon02.png') no-repeat;
    background-size:contain;
    width:9.275rem;
    height:6.375rem;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-4.6375rem;
    margin-top:-3.1875rem;
}
.scene4 .flash{animation:20s flash infinite linear;-moz-animation:20s flash infinite linear;-webkit-animation:20s flash infinite linear;-ms-animation:20s flash infinite linear;}
.scene4 .icon03{
    background:url('../../../h5plus/img/portalAnim/scene4/icon03.png') no-repeat;
    background-size:contain;
    width:1.091rem;
    height:0.658rem;
    position:absolute;
    left:1.608rem;
    top:-0.333rem;
    opacity:0;
    transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
    -moz-transition:1s all ease;
}
.scene4 .icon04{
    background:url('../../../h5plus/img/portalAnim/scene4/icon04.png') no-repeat;
    background-size:contain;
    width:1.05rem;
    height:0.583rem;
    position:absolute;
    left:4.083rem;
    top:-0.241rem;
    opacity:0;
    transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
    -moz-transition:1s all ease;
}
.scene4 .icon05{
    background:url('../../../h5plus/img/portalAnim/scene4/icon05.png') no-repeat;
    background-size:contain;
    width:1.05rem;
    height:0.583rem;
    position:absolute;
    left:7.016rem;
    top:0.191rem;
    opacity:0;
    transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
    -moz-transition:1s all ease;
}
.scene4 .icon06{
    background:url('../../../h5plus/img/portalAnim/scene4/icon06.png') no-repeat;
    background-size:contain;
    width:1.016rem;
    height:0.558rem;
    position:absolute;
    left:0.55rem;
    top:1.158rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon07{
    background:url('../../../h5plus/img/portalAnim/scene4/icon07.png') no-repeat;
    background-size:contain;
    width:1.05rem;
    height:0.583rem;
    position:absolute;
    left:8.98rem;
    top:1.566rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon08{
    background:url('../../../h5plus/img/portalAnim/scene4/icon08.png') no-repeat;
    background-size:contain;
    width:1.183rem;
    height:0.55rem;
    position:absolute;
    left:-0.266rem;
    top:2.975rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon09{
    background:url('../../../h5plus/img/portalAnim/scene4/icon09.png') no-repeat;
    background-size:contain;
    width:0.8rem;
    height:0.433rem;
    position:absolute;
    left:1.733rem;
    top:2.783rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon10{
    background:url('../../../h5plus/img/portalAnim/scene4/icon10.png') no-repeat;
    background-size:contain;
    width:1.366rem;
    height:0.791rem;
    position:absolute;
    left:6.616rem;
    top:2.341rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon11{
    background:url('../../../h5plus/img/portalAnim/scene4/icon11.png') no-repeat;
    background-size:contain;
    width:0.958rem;
    height:0.583rem;
    position:absolute;
    left:8.191rem;
    top:3.633rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon12{
    background:url('../../../h5plus/img/portalAnim/scene4/icon12.png') no-repeat;
    background-size:contain;
    width:0.733rem;
    height:0.866rem;
    position:absolute;
    left:6.7rem;
    top:3.9rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon13{
    background:url('../../../h5plus/img/portalAnim/scene4/icon13.png') no-repeat;
    background-size:contain;
    width:1.033rem;
    height:0.583rem;
    position:absolute;
    left:1.675rem;
    top:5.075rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon14{
    background:url('../../../h5plus/img/portalAnim/scene4/icon14.png') no-repeat;
    background-size:contain;
    width:1.191rem;
    height:0.483rem;
    position:absolute;
    left:4.358rem;
    top:6.025rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .icon15{
    background:url('../../../h5plus/img/portalAnim/scene4/icon15.png') no-repeat;
    background-size:contain;
    width:1.058rem;
    height:0.583rem;
    position:absolute;
    left:6.491rem;
    top:5.808rem;
    opacity:0;
    transition:1s all ease;
    -moz-transition:1s all ease;
    -webkit-transition:1s all ease;
    -ms-transition:1s all ease;
}
.scene4 .actives{
    left:50%;
    top:50%;
}

/*从上到下*/
@-webkit-keyframes fadeinT{
    0%{opacity:0;-webkit-transform:translateY(-100px);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinT{
    0%{opacity:0;-moz-transform:translateY(-100px);}
    100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadeinT{
    0%{opacity:0;-ms-transform:translateY(-100px);}
    100%{opacity:1;-ms-transform:translateY(0);}
}
@keyframes fadeinT{
    0%{opacity:0;transform:translateY(-100px);}
    100%{opacity:1;transform:translateY(0);}
}

/* 淡入-从下 */
@-webkit-keyframes fadeinB{
    0%{opacity:0;-webkit-transform:translateY(100px);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinB{
    0%{opacity:0;-moz-transform:translateY(100px);}
    100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadeinB{
    0%{opacity:0;-ms-transform:translateY(100px);}
    100%{opacity:1;-ms-transform:translateY(0);}
}
@keyframes fadeinB{
    0%{opacity:0;transform:translateY(100px);}
    100%{opacity:1;transform:translateY(0);}
}

/* 翻入-Y轴 */
@-webkit-keyframes flipinY{
    0%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0;}
    40%{-webkit-transform:perspective(400px) rotateY(-10deg);opacity:1;}
    70%{-webkit-transform:perspective(400px) rotateY(10deg);opacity:1;}
    100%{-webkit-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-moz-keyframes flipinY{
    0%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0;}
    40%{-moz-transform:perspective(400px) rotateY(-10deg);opacity:1;}
    70%{-moz-transform:perspective(400px) rotateY(10deg);opacity:1;}
    100%{-moz-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-ms-keyframes flipinY{
    0%{-ms-transform:perspective(400px) rotateY(90deg);opacity:0;}
    40%{-ms-transform:perspective(400px) rotateY(-10deg);opacity:1;}
    70%{-ms-transform:perspective(400px) rotateY(10deg);opacity:1;}
    100%{-ms-transform:perspective(400px) rotateY(0);opacity:1;}
}
@keyframes flipinY{
    0%{transform:perspective(400px) rotateY(90deg);opacity:0;}
    40%{transform:perspective(400px) rotateY(-10deg);opacity:1;}
    70%{transform:perspective(400px) rotateY(10deg);opacity:1;}
    100%{transform:perspective(400px) rotateY(0);opacity:1;}
}
.scene5{
    background:#fff;
}
.scene5 .top{
    background:url('../../../h5plus/img/portalAnim/scene5/bj01.png') no-repeat;
    background-size:100% 100%;
    width:100%;
    height:71%;
    position:relative;
}
.scene5 .top .topBottom{
    background:url('../../../h5plus/img/portalAnim/scene5/icon02.png') no-repeat;
    background-size:cover;
    width:14.74rem;
    height:2.99rem;
    position:absolute;
    left:50%;
    bottom:0px;
    opacity:0;
    margin-left:-7.37rem;
}
.scene5 .top .topBottom.active{animation:1s fadeinB ease;-moz-animation:1s fadeinB ease;-webkit-animation:1s fadeinB ease;-ms-animation:1s fadeinB ease;opacity:1}
.scene5 .top .icon03{
    background:url('../../../h5plus/img/portalAnim/scene5/icon03.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:1.65rem;
    bottom:2.23rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon03_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon03_.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:0.84rem;
    bottom:2.23rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon04{
    background:url('../../../h5plus/img/portalAnim/scene5/icon04.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:2.65rem;
    bottom:1.48rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon04_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon04_.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:1.84rem;
    bottom:1.48rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon05{
    background:url('../../../h5plus/img/portalAnim/scene5/icon05.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:3.89rem;
    bottom:0.316rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon05_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon05_.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:3.08rem;
    bottom:0.316rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon06{
    background:url('../../../h5plus/img/portalAnim/scene5/icon06.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:4.89rem;
    bottom:1.48rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon06_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon06_.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:4.08rem;
    bottom:1.48rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon07{
    background:url('../../../h5plus/img/portalAnim/scene5/icon07.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:6.225rem;
    bottom:2.316rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon07_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon07_.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:5.416rem;
    bottom:2.316rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon08{
    background:url('../../../h5plus/img/portalAnim/scene5/icon08.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:7.808rem;
    bottom:2.65rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon08_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon08_.png') no-repeat;
    background-size:cover;
    position:absolute;
    left:7rem;
    bottom:2.65rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon09{
    background:url('../../../h5plus/img/portalAnim/scene5/icon09.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:5.941rem;
    bottom:2.316rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon09_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon09_.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:5.941rem;
    bottom:2.316rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon10{
    background:url('../../../h5plus/img/portalAnim/scene5/icon10.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:4.608rem;
    bottom:1.483rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon10_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon10_.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:4.608rem;
    bottom:1.483rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}

.scene5 .top .icon11{
    background:url('../../../h5plus/img/portalAnim/scene5/icon11.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:3.608rem;
    bottom:0.316rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon11_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon11_.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:3.608rem;
    bottom:0.316rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon12{
    background:url('../../../h5plus/img/portalAnim/scene5/icon12.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:2.383rem;
    bottom:2.483rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon12_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon12_.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:2.383rem;
    bottom:2.483rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .icon13{
    background:url('../../../h5plus/img/portalAnim/scene5/icon13.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:1.308rem;
    bottom:1.65rem;
    width:0.66rem;
    height:0.66rem;
    opacity:0;
}
.scene5 .top .icon13_{
    background:url('../../../h5plus/img/portalAnim/scene5/icon13_.png') no-repeat;
    background-size:cover;
    position:absolute;
    right:1.308rem;
    bottom:1.65rem;
    width:1.475rem;
    height:2.008rem;
    opacity:0;
}
.scene5 .top .title{
    background:url('../../../h5plus/img/portalAnim/scene5/icon01.png') no-repeat;
    background-size:contain;
    position:absolute;
    left:50%;
    top:1.225rem;
    width:2.833rem;
    height:0.55rem;
    margin-left:-1.416rem;
    opacity:0;
}
.scene5 .bottom{
    background: url('../../../h5plus/img/portalAnim/scene5/lxwm.png') no-repeat;
    height:calc(29% - 0.5rem);
    height:-moz-calc(29% - 0.5rem);
    height:-webkit-calc(29% - 0.5rem);
    height:-ms-calc(29% - 0.5rem);
    width:5.166rem;
    background-size:contain;
    text-align:center;
    margin:0.25rem auto;
    position:relative;
}
.scene5 .bottom .ljzz{
    width:1.166rem;
    height:0.4rem;
    position:absolute;
    right:0.691rem;
    top:0.616rem;
    cursor:pointer;
}

.scene5 .top .actives{animation:3s flipinY ease;-webkit-animation:3s flipinY ease;-ms-animation:3s flipinY ease;opacity:1;-moz-animation:3s flipinY ease;}
.scene5 .top .title.active{animation:1s fadeinT ease;-webkit-animation:1s fadeinT ease;-ms-animation:1s fadeinT ease;-moz-animation:1s fadeinT ease;opacity:1}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .scene { left: 0; }
    #loading{ 
        margin-left: -2.56rem;
        position: absolute;
    }
}