<!DOCTYPE html>
<html lang="en">
    <head class="Superadmin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">
        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>H5PLUS项目组 - SuperAdmin</title>
        <!-- CSS -->
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/bootstrap.min.css" rel="stylesheet">
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/animate.min.css" rel="stylesheet">
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/font-awesome.min.css" rel="stylesheet">
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/form.css" rel="stylesheet">
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/calendar.css" rel="stylesheet">
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/style.css" rel="stylesheet">
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/icons.css" rel="stylesheet">
        <link href="<%= data['comlibjs'] %>/third/theme_superadmin/css/generics.css" rel="stylesheet">         
        <script type="text/javascript">
        var $$r = { rootUrl : '<%= data['res'] %>' }
        </script>
        <% include ./_g/script.html %>
        <script type="text/javascript" src="<%= data['js'] %>/common/index.js<%= data['v'] %>" id="j_portal"></script>
    </head>
    
    <body id="skin-blur-violate">
    
    <div id="j_p"></div>

    </body>
</html>
