<!DOCTYPE html>
<html>
<head>
<% include ../../../_g/head.html %>
<link rel="stylesheet" href="<%= data['css'] %>/<%= data['cat1'] %>/<%= data['cat2'] %>/<%= data['cat2'] %>.css<%= data['v'] %>">
<title>特殊页面 - 微商城-货架管理</title>
<script type="text/javascript">
    //$$r.path = '/auth-portal/api/?method='
    $$r.path = 'http://test.h5plus.net/auth-portal/api/?method='
    $$r.routers = {
        "data": {
            "link": {
                'loginUrl': $$r.path + 'ruixue.hfive.weidian.portal.login',
                'list': $$r.path + 'ruixue.hfive.weidian.page.list',
                'downpage': $$r.path + 'ruixue.hfive.weidian.page.downpage',
                'uppage': $$r.path + 'ruixue.hfive.weidian.page.uppage',
                'delete': $$r.path + 'ruixue.hfive.weidian.page.deletepage'
            },
            "details": './detail.html'
        }
    };
</script>
</head>
<body class="<%= data['cat2'] %>">

<div id="j_p"><p class="ui-msg ui-msg-loading">页面初始化......</p></div>

<% include ../../../_g/script.html %>
<script type="text/javascript" src="<%= data['js'] %>/<%= data['cat1'] %>/<%= data['cat2'] %>/<%= data['cat3'] %>/<%= data['cat4'] %>.js<%= data['v'] %>" id="j_js"></script>
</body>
</html>